Django==1.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
psycopg2==2.5.4
static3==0.5.1
wsgiref==0.1.2
requests==2.3.0
-e ./django-cas/
python-ldap==2.4.19
django-crispy-forms==1.4.0
django-dajax-ng==0.9.4
django-dajaxice-ng==0.7.0.1
django-jquery==1.9.1
django-static-jquery==2.1.4
simplejson==3.6.5
jsmin==2.0.3
Pillow==2.6.
boto==2.38.0
