.cal-day-today {
  background-color: rgba(255, 255, 255, 0.4);
}
.cal-day-today span[data-cal-date] {
  color: #fff;
}

.event-info {
  background-color: rgba(255, 255, 255, 0.3);
}

.cal-day-holiday span[data-cal-date] {
  color: #fff;
}

.minimal-button {
  background: transparent;
  color:#fff;
  margin: 10px;
}

.rsvp-text {
  color:#aaa;
}

.event-row {
  margin: 20px;
}
.web-link{
  color :#C6852A;
}

.btn-warning, .btn-warning.active, .btn, .btn-primary {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  background: transparent;
}

.btn-right {
   margin-right: 10px;
}

.btn-inverse {
  color: black;
  background-color: transparent;
  border-color: transparent;
  background: #fff;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
  margin-bottom: 10px;

}

#cal-slide-content {
  background-image: url("../img/skinny.png");
}

#cal-week-box {
  border: 1px solid #e1e1e1;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: right;
}

.faceboard-row {
  margin: 0 auto;
  max-width: 900px;
  min-width: 450px;
}

.faceboard-title{
  position:relative;
  min-height:5em;
}

.faceboard-content{
  position:absolute;
  bottom:0.1em;
  width:100%;
  font-size: 1.2em;
  font-weight: 400;

}

.faceboard-thumbnail {
  text-align: center;
}

.faceboard-image-div {
}

.faceboard-photo {
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.faceboard-filler {
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.thumb {
    margin-bottom: 30px;
}

.menu-day {
  margin: 5px;
}

.menu-meal {
  font-size: 0.80em;
  min-height: 180px;
}

.menu-type{
  
  min-height: 180px;
  padding-top: 70px;
}

.menu-text{
  border-style: solid;
  border-color: #fff;
  border-width:1px;
  min-height: 180px;
  padding-top: 5px;
}

.menu-text > p {
  margin-left: 5px;
}