<!-- will be a working Faceboard. eventually. -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<container>
    <div class='col-md-10'> 
        <h2> View Faceboards for: </h2>
        <div class="btn-group" role="group" aria-label="...">

            <a href="/faceboard" class="btn btn-info" role="button"> Current Membership</a>
            {% for year in year_options %}

            <a href="/faceboard/{{year}}" class="btn btn-info" role="button"> {{year}} </a>

            {% endfor %}
        </div>

        <h2> {{ title }} </h2>
        <hr>
        {% for member in display_membership %}
        <div class = 'col-lg-3 col-md-3 col-sm-4 col-xs-6 thumb col-centered'>
            
                {% if member.image %}
                    <img src="{{ member.image.url }}" class='faceboard-photo'>
                {% else %}
                    <img src="{{STATIC_URL}}img/charter-logo-white.png" class='filler-photo'>
                {% endif %}
            

            <div style="text-align:center;">
                {{ member.first_name }} {{member.last_name}}
            </div>

        </div>
        {% endfor %}
    </div>  
</container>
{% endblock %}
