<!-- will be a working Faceboard. eventually. -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class='col-md-12'> 

        <h2> {{ title }} </h2>
        {% if year_options %}
        <div style='text-align: center;'>
        <div class="btn-group" role="group" aria-label="...">

            <a href="/faceboard" class="btn btn-info" role="button"> Current Membership</a>
            {% for year in year_options %}

            <a href="/faceboard/{{year}}" class="btn btn-info" role="button"> {{year}} </a>

            {% endfor %}
        </div>
        </div>
        {% endif %}
        <hr>
        {% for member in display_membership %}
        <div class = 'col-lg-3 col-md-3 col-sm-4 col-xs-6 thumb text-centered'>
            
                {% if member.image %}
                <div class='faceboard-photo' style="background-image: url({{member.image.url}});"> </div>
                {% else %}
                <div class='faceboard-filler' style="background-image: url({{STATIC_URL}}img/charter-logo-black.png);"> </div>
                {% endif %}
            

            <div style="text-align:center;">
                {{ member.first_name }} {{member.last_name}}
            </div>

        </div>
        {% endfor %}
    </div>  
</div>
{% endblock %}
