<!-- permission denied page -->

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<h2> Looks like you're not registered on our website </h2>
<br><br>

<p> The netid "{{ netid }}" isn't someone in our database. If you are a: </p>
<ul>
    <li> <strong> Sophomore - </strong> create an account below. </li>
    <li> <strong> Member - </strong> Email our tech chair/webmaster (<a href="{%url 'officer_list' %}">officer page</a>)</li>

</ul>
For additional questions, please contact our tech chair/webmaster on our <a href="{%url 'officer_list' %}"> officer page</a>.

<hr>
<h3> Sign Up Here </h3>
<p> We use API from <a href="https://tigerbook.herokuapp.com/"> https://tigerbook.herokuapp.com/ </a> to verify your information.</p>
    <div class='col-sm-8 col-md-6'>
        {% crispy form %}
    </div>
</div>
{% endblock %}
