<!-- member profile page -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<div class='col-md-12'> 
  <h1> Welcome, {{ member.first_name }}! </h1>
    <br>
      <div class="col-md-4">
    {% if member.image %}
      <img src="{{member.image.url}}" height="400px">
        
    {% else %}
        <div class="div-image" style="background-image: url({{STATIC_URL}}img/charter-logo-white.png); height:280px;"></div>
    {% endif %}
  </div>
  <div class="col-md-8">
      <br>
      <h3>House account balance:</h3>
      ${{ member.house_account }}
      <h3> Number of Guest Meals: </h3>
      {{ member.guest_meals}} meals left for this semester
      <br><br>
      <h3>Upcoming RSVP's:</h3>
      <ul>
      
      {% for entry in member.get_future_related_entries.all %}
        <li>
          <h4> {{ entry.event }} </h4>
          <p> Time: {{ entry.event.time|time:"g:iA"}}  </p>
          <p>{{ entry }} </p>
        </li>

      {% endfor %} 
      </ul>
  </div>

    </div>
</div>




{% endblock %}    
