<!-- member profile page -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class='col-md-10'> 
  <h2> Welcome, {{ member.first_name }}! </h2>
  <div class="col-md-6">
      <hr>
      <h4>House account balance:</h4>
      ${{ member.house_account }}
      <hr>
      <h4>Upcoming RSVP's:</h4>
      <ul>
      {% for entry in future_entries %}
        <li>
          <h4> {{ entry.event }} </h4>
          <p> Time: {{ entry.event.time|time:"g:iA"}}  </p>
          <p>{{ entry }} </p>
        </li>

      {% endfor %} 
      </ul>
  </div>

  <div class="col-md-6">
    {% if member.image %}
      <div class="div-image" style="background-image: url({{member.image.url}}); height:400px;"></div>
        
    {% else %}
        <div class="div-image" style="background-image: url({{STATIC_URL}}img/charter-logo-white.png); height:280px;"></div>
    {% endif %}
  </div>
</div>




{% endblock %}    
