<!-- member profile page -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class='col-md-10'> 
  <h2> Welcome, {{ prospective.first_name }}! </h2>
  <p> This is the landing page. From this page, you can view the number of points you have, the events you have attended, and our upcoming recruitment events. </p>
  <div class="col-md-6">
      <hr>
      

      <h4>Upcoming events:</h4>
      <ul>
      {% for event,room, guest_s in events %}
        <li>
          <h4> {{ event }} </h4>
          <p>
          You RSVP'd for {{ event }} in the {{ room }}.
                {% if guest_s != "" %}
                    Your guest is {{ guest_s }}.
                {% endif %}
          </p>
        </li>

      {% endfor %} 
      </ul>
  </div>

  <!-- <div class="col-md-6">
  <img src="{{ prospective.image.url }}" class="img-responsive .img-rounded" alt="Lookin' Good">
  </div> -->
</div>




{% endblock %}    
