<!-- will be a working Faceboard. eventually. -->

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h1> Sign Up For Meals</h1>
    <p> Hello {{ prospective.first_name }}, <br>
    You have signed up for the following meals for this month: </p>
    <ul>
         {% for entry in prospective_this_month_meals %}
          <li> 
              <h5> {{ entry.meal }}  {{ entry.meal.name }} </h5>
              <p style="margin-left:8px"> 
                {{ entry.meal.description | linebreaksbr}} 
                <br>

                <div>
                {% if entry.can_be_cancelled_by_user %} 
                <a href="/{{ entry.cancellation_url }}"> [Cancel] </a>
                {% else %}
                [Cannot be Canceled]
                {% endif %}
                </div>
              </p>
          </li>
        {% endfor %}
    </ul>
    
    <br><br>
    <!-- Information about recruitment starts here -->
    <hr>
    <h3> Information on Sophmore Meals</h3>

    <p> Sophomore meals are a special privilege given to sophomores that allow them to dine with members in Charter twice every month. This is a great opportunity to get a feeling for the club and to meet our wonderful members.</p>


    <h4> The Perks of Sophomore meals </h4>
    <ul>
        <li> You get to sign up for meals with your friends, and eat with members!</li>
        <li> Charter food is the best. </li>
    </ul>
    
    <h4> Logistics </h4>
    <ul> 
        <li> Sophomores are limited two meals a month </li>
        <li> Sophomore meals close the night before the day of the meal.  </li>
        <li> Sophomore meals begin in the late fall and end in January.  </li>
		<li> Lunch runs from 11:30-1:30, Dinner on weekdays from 5:45-7:30, Brunch from 11:45-1:30, and Dinner on weekends from 5:30-7 </li>
    </ul>


    <h4> Signup Form </h4>
    <p> You can see our full menu <a href="{%url 'weekly_menu' %}">here</a>.</p>
    <div style="max-width:250px; margin:10px;">
        {% crispy form %}
    </div>

</div>


{% endblock %}


{% block js-bottom %} 


<link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js"></script>
<script>
$(function() {
    var dates_allowed = {


              {% for date in dates_allowed %}
              '{{ date }}' : 1, 
              {% endfor %}
    };

    var hover_text = {
        {% for key, value in hover_text.iteritems %}
            '{{key}}' : '{{value|escape}}',
        {% endfor %}
    }

    $('.datepicker').datepicker({
        // these aren't necessary, but if you happen to know them, why not

                // called for every date before it is displayed
        beforeShowDay: function(date) {

            // prepend values lower than 10 with 0
            function addZero(no) {
                if (no < 10){
                  return "0" + no;
                }  else {
                  return no; 
                }

            }

            var date_str = [
                addZero(date.getFullYear()),
                addZero(date.getMonth() + 1),
                addZero(date.getDate())      
            ].join('-');

            if (hover_text[date_str]) {
                if (dates_allowed[date_str]) {
                    return [true, 'good_date', hover_text[date_str]];
                } else {
                    return [false, 'good_date', hover_text[date_str]];
                }

            } else {
                return [false, 'bad_date', 'This date hasn\'t been updated yet'];
            }
        },

        onSelect: function(dateText, inst) {
            var date = $(this).val();
            var time = $('#time').val();
            
            var hostname = window.location.protocol + "//" + window.location.host;
            var url = hostname + "/kitchen/meal_info/" + date;

            var data_s = msg = $.ajax({type: "GET", url: url, async: false}).responseText;
            var data_js = $.parseJSON(data_s)

            var type = ["Brunch", "Lunch", "Dinner"];

            meal_type_form_field = $('#id_meal_type')[0]

            for (var i = 0; i < type.length; i++)  {
                t = type[i]
                $('select option:contains("{0}")'.format(t)).remove()
                
                if (data_js[t.toLowerCase()][0] !== -1) {
                    var option = document.createElement("option");
                    option.text = t + data_js['brunch'][0] + "/" + data_js['brunch'][1]
                    option.value = t

                    meal_type_form_field.add(option)
                }
            }


            // update the options
            $('select option:contains("Brunch")').text("Brunch " + data_js['brunch'][0] 
                                                                + "/" + data_js['brunch'][1])
            $('select option:contains("Lunch")').text("Lunch " + data_js['lunch'][0] 
                                                                + "/" + data_js['lunch'][1])
            $('select option:contains("Dinner")').text("Dinner " + data_js['dinner'][0] 
                                                                + "/" + data_js['dinner'][1])

            // Now remove the ones that are not allowed (a bit of tech-debt here but this doesn't work if I remove it)
            if (data_js['brunch'][0] === -1) {
                $('select option:contains("Brunch")').remove()
            }

            if (data_js['lunch'][0] === -1) {
                $('select option:contains("Lunch")').remove()
            }

            if (data_js['dinner'][0] === -1) {
                $('select option:contains("Dinner")').remove()
            }
            
            // $.getJSON("http://localhost:8000/kitchen/meal_info/{0}/{1}/{2}".format)
            // $("#start").val(date + time.toString(' HH:mm').toString());

        }
    });
  });
</script>
<script src="{% static "js/scripts.js" %}"></script>
{% endblock %}

