{% extends "admin/base_site.html" %}
{% load i18n admin_modify  %}

{% block extrastyle %}{{ block.super }}
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}

<h1>Preview your submission</h1>

<p> Please note that when you press submit, only new members will be added to the membership list. </p>

<h4> Results of database searches: </h4>
<table>
    <tr>
        <td> <strong> Student </strong> </td>
        <td> <strong> Status </strong></td>
    </tr>
{% for student, status in results.items %}
    <tr>
        <td> {{ student }} </td>
        {% if status.1 == 0 %}
        <td style="color: orange"> {{ status.0 }} </td>
        {% else %}
        <td style="color: green">  {{ status.0 }} </td>
        {% endif %}
    <tr>
{% endfor %}
<table>

<p> Pressing submit will add the students with <span style="color:green"> green  status </span>to the member database. </p>

<form action="" method="post">{% csrf_token %}
{% for field in form %}{{ field.as_hidden }}
{% endfor %}
<input type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
<p><input type="submit" value="Submit" /></p>
</form>

<h1>Or edit it again</h1>

<form action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="hidden" name="{{ stage_field }}" value="1" />
<p><input type="submit" value="Preview" /></p>
</form>

{% endblock %}
