{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

   <div class="col-xs-12">

      <h2> Upcoming Events: </h2>
      <hr>
      <div class="col-xs-12">
      {% for event in events_list %}
          <h3> {{ event }}</h3>
          <div class="col-xs-12 col-centered">
              <p> {{ event.snippet }} </p>
              <a class="btn btn-default minimal-button" href="{{event.get_signup_url }}">
                   <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                    RSVP
              </a>


               <a class="btn btn-default minimal-button" href="{{event.get_view_url }}">
                   <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    View Seatings
              </a>
          </div>
      {% endfor %}
      </div>
   </div>

<p></p>

{% endblock %}