<!-- Home page -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  
  <div class="row">
    <div class="col-md-2">

<!--       <br>
      <div class="fb-page" data-href="https://www.facebook.com/pages/Princeton-Charter-Club/38696166101?fref=nf" data-width="300" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Princeton-Charter-Club/38696166101?fref=nf"><a href="https://www.facebook.com/pages/Princeton-Charter-Club/38696166101?fref=nf">Princeton Charter Club</a></blockquote></div></div> -->

    </div>
    <div class="col-md-8">
      <!-- <h1> <center> Welcome to the Princeton Charter Club! </center> </h1> -->
      <br>

      <img src="{{STATIC_URL}}img/chartername.png" style="border: 0" align="middle" width="100%" >

      <hr>


      <img src="{{STATIC_URL}}img/lawnparties2.jpg" style="border: 0" align="middle" width="100%" >

      <hr>
      
      <p> On behalf of our undergraduate membership and alumni body, let me be the first to welcome you to Charter. Since 1901, undergraduates have joined Charter to be part of one of the friendliest and most dynamic social communities at Princeton. Charter provides an exceptional level of service to its members. We have a beautiful clubhouse filled with amenities like our TV room, our computer cluster equipped with several multi-screen desktops (excellent for serious work or serious gaming), our big backyard, and much more. Add in our delicious and diverse dining selections, as well as our packed social calendar, and it's easy to see why the quality of the Charter experience is unrivaled on the Street. All of this ensures the bonds formed at Charter last lifetimes, which is why alumni come back in large numbers for football games and Reunions. </p>


      <p>Best Regards,

      <p>Jean-Carlos (JC) Arenas, Class of 2016 <br>
      Undergraduate President <br>
      jarenas@princeton.edu
      <br><br>

      <hr>

      <p> The background image for this site was taken in the late 1920s by Royal H. Rose as the members posed on the front steps of the club. At the tope of this page the image shows the members during 2014 during Lawnparties. The Princeton Charter club seeks to honor tradition while keeping up with the latest trends in technology, music, art, and more. </p>

    </div> 
  </div>
{% endblock %}
