{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  
  <div class="row">
    <div class="col-md-4">
      <br>
      <img src="{{STATIC_URL}}img/simpleLogo.png" style="border: 0" align="middle" height="256" >

      <br>
      <div class="fb-page" data-href="https://www.facebook.com/pages/Princeton-Charter-Club/38696166101?fref=nf" data-width="300" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Princeton-Charter-Club/38696166101?fref=nf"><a href="https://www.facebook.com/pages/Princeton-Charter-Club/38696166101?fref=nf">Princeton Charter Club</a></blockquote></div></div>

    </div>
    <div class="col-md-8">
      <h2>Welcome to the Princeton Charter Club!</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere mi eu ipsum lobortis porttitor. Pellentesque a auctor nunc. Integer imperdiet egestas enim, vel ultricies erat congue id. Integer placerat elit mollis euismod luctus. Etiam accumsan est id vulputate accumsan. Nullam dictum faucibus elementum. Morbi sollicitudin ullamcorper ex, vitae fringilla metus bibendum id. Sed vitae venenatis quam. Maecenas consequat odio est, eget ultrices augue faucibus id.
      <br>
      Quisque non justo dui. Mauris porta suscipit cursus. Sed a venenatis nisl, sed volutpat lorem. In interdum nisi in mollis feugiat. Nunc vel magna vel neque vulputate dignissim ut iaculis sem. Sed tristique congue felis, sed lobortis purus auctor ut. Curabitur faucibus sapien eu est bibendum pharetra. Mauris nec ligula ac ipsum consequat eleifend vitae a lectus. Sed pretium leo ut suscipit scelerisque. Proin pulvinar lorem dui, vel congue dolor posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <br>
      Duis mi augue, auctor vehicula justo vel, consequat mollis magna. Fusce laoreet justo ut nunc auctor, et pellentesque diam egestas. In suscipit porttitor neque vitae imperdiet. Sed tempor pretium enim sit amet lobortis. Cras aliquam pulvinar sapien, sit amet iaculis mi congue quis. Fusce malesuada eleifend enim, vel porta dolor. Integer sed elit massa. In id iaculis nisl. Curabitur pulvinar odio elit, ac dictum felis rutrum et. Maecenas ut luctus sem. Sed risus diam, pretium vel nibh et, semper egestas ex. Mauris viverra justo sed cursus blandit. Aliquam finibus elementum sapien, ut molestie metus fermentum tristique. Phasellus eu quam tempor, rutrum est nec, pellentesque orci. Phasellus fermentum quam sit amet dui finibus lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      <br>
      Sed sollicitudin mauris et urna blandit, a rutrum ex viverra. Fusce egestas lectus eget tincidunt convallis. Quisque ut dui et purus mattis auctor. Vestibulum iaculis dui posuere ex aliquam porttitor. Integer dictum, est a malesuada vulputate, turpis elit consectetur quam, eget bibendum odio augue id lacus. Pellentesque venenatis pharetra ex in pellentesque. Nullam euismod ullamcorper est, eget tincidunt eros accumsan in. Etiam vestibulum consequat lectus. Proin gravida, arcu id eleifend vehicula, tellus augue pellentesque justo, in consectetur felis lorem pellentesque ex. Quisque iaculis sem risus, nec dictum elit tristique a. Quisque condimentum, purus quis dapibus elementum, mauris sapien tristique risus, tempor tempus ipsum sapien et ante. Suspendisse a orci velit. Nam a accumsan nisi, id scelerisque diam. Sed in fringilla lacus, non feugiat nibh. Fusce sed eros vel leo sollicitudin blandit. Pellentesque ut lorem sagittis, dignissim turpis sed, mollis metus.
      <br><br>


    </div> 
  </div>
{% endblock %}
