{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

   <div class="col-md-4">
      <div class="panel panel-transparent" id="midCol">
        <div class="panel-heading" style="background-color:#555;color:#eee;">Quick Links</div> 
        <div class="panel-body">
        
          <div class="panel panel-transparent">
                  <h4>House account balance</h4>
                  <p>
                  ${{ member.house_account }}
                  </p>
          </div>

          <div class="panel panel-transparent">
                  <h3>Upcoming events:</h3>

          {% for event,room in events %}
            <div class="panel panel-transparent">
                    <h4> {{ event }} </h4>
                    <p>
                    You RSVP'd for the {{ room }}!
                    </p>
            </div>

          {% endfor %}
          
          </div>

       </div> 
       </div><!--/panel-->
   </div>

   <div class="col-md-8">
      <div class="panel panel-transparent">
          <div class="panel-heading" style="background-color:#111;color:#fff;"> Welcome, {{ member.first_name }}!</div>   
        <div class="panel-body">
          <!-- Class of {{ member.year }} -->

          <img src="{{STATIC_URL}}img/pcc.jpg" style="border: 0" align="middle" width="100%" >
        </div>
      </div>
   </div>

{% endblock %}    
