{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2> Song </h2>

<hr>

<p>
Many stories date the origin of our song, in one form or another, to the great class of 1928. However, the tradition of Huzzaing to the Charter Club dates at least to the Section Party of 1930, when a proctor was summoned to pull down a member of Charter from the bell-tower of the firehouse, from where he had been ringing the bell and shouting huzza repeatedly. In the aftermath of the Great fire of 1949, "The Indestructible" began to be used as a metonymic for the club as an entity, suggesting perhaps that the War Hymn of the Indestructible dates to the period shortly after the fire. While its precise origin may be shrouded in mystery, what can be said for sure is that decades of Charter members have toasted their club to raucous choruses of 'Huzza, Huzza, for Charter Club!'
</p>

<h3 id="song"> The War Hymn of the Indestructible </h3>

<p id="song">
In One and Nineteen Hundred Years, our club was nobly found,<br>
And now today we do rejoice, and stories do abound,<br>
Of ages past, of sections made, of Princeton men of old,<br>
And now in Charter Club we sing, en-clothed in Red and Gold:<br><br>

Huzza, Huzza for Charter Club, the grandest of them all,<br>
The food's superb, the wine divine, and every night's a ball.<br>
Huzza, Huzza for Charter Club, now raise your glass with me,<br>
Now drain them fast, as one my friends -- one, two, three.<br><br>

The Charter bar, 'tis sturdy as a bar has ever been,<br>
Damn near "Indestructible", and stocked with scotch and gin.<br>
We Charter men are stalwart always honest, brave, and bold,<br>
And now in Charter Club we sing, en-clothed in Red and Gold:<br><br>

Huzza, Huzza for Charter Club, the grandest of them all,<br>
The food's superb, the wine divine, and every night's a ball.<br>
Huzza, Huzza for Charter Club, now raise your glass with me,<br>
Now drain them fast, as one my friends -- one, two, three.
</p>

{% endblock %}