<!-- The Constitution of the Princeton Charter Club -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2> <center> The Constitution and Bylaws </center> </h2>
<h4> <center> of </center> </h4>
<h3> <center> The Princeton Charter Club </center> </h3>

<hr>

<h3> <center> Article I </center> </h3>

   <ol>
      <li> The name of this Club shall be THE PRINCETON CHARTER CLUB.</li>
      <li> The object of this Club shall be to provide such accommodations as are required to promote the general welfare and education of a number of students at Princeton University in the spirit of fraternal fellowship.</li>
      <li> The corporate seal of the Club shall be a circle containing in its upper margin the words, "The Princeton Charter Club," in its lower margin the words, "Princeton, N.J.," and in its center the words, "Incorporated 1901." The Club colors shall be dark maroon and old gold.</li>
   </ol>

<h3> <center> Article II </center> </h3>
   <ol>
      <li> The members of this Club shall be Active, Sophomore, Graduate, Honorary, and Faculty.</li>
      <li> The Active membership shall consist of two sections, one of which shall be composed of members of the Junior class of Princeton University, the other members of the Senior class and current graduate students of Princeton University.</li>
      <li> The Sophomore membership shall consist of members of the Sophomore class of Princeton University who have joined the Club in accordance with the provisions then in force.  Sophomores will be eligible for membership in the spring of each year.</li>
      <li> The Graduate membership shall consist of all members in good standing who have ceased to be students at the University and other Princeton Alumni elected as hereinafter provided.</li>
      <li> The Honorary membership shall consist of members of the Princeton Community elected according to the provisions of Article III.</li>
      <li> The Faculty membership shall consist of those to whom Club privileges are extended for two years.</li>
   </ol>

<h3> <center> Article III </center> </h3>

   <ol>
      <li> Selection of prospective Active members from the Sophomore, Junior, or Senior classes or from among the current graduate students shall be in accordance with the provisions then in force.  Each Active member upon joining shall signify in writing the member's willingness to be governed by the provisions of this Constitution during membership in the Club.</li>
      <li> Election of Graduate members who were not undergraduate members of The Princeton Charter Club shall be by majority vote of the Board of Governors.  Those eligible for such membership shall be alumni of the University and shall not have joined a club as an undergraduate, or shall have belonged to a club that no longer exists in its original form, or shall have formed some other bond with The Princeton Charter Club that merits consideration for membership.</li>
      <li> Election of Honorary members shall be by majority vote of the Active members and the approval of the Board of Governors.</li>
      <li>  Election of Faculty members shall be by majority vote of the Active members.</li>
   </ol>

<h3> <center> Article IV </center> </h3>

   <ol>
      <li> The officers of this Club shall be a President, a Vice President, a Treasurer, a Social Chair, and two Kitchen Managers.  The President, Vice President, and Social Chair shall be elected as Juniors by the Active membership.  The Treasurer shall be appointed by the Graduate Treasurer in consultation with the outgoing officers and selected members of the Board of Governors.  The Kitchen Managers shall be selected by the Club Manager in consultation with the outgoing officers.  The officers’ duties shall be as follows: </li>
         <ol type="a">
            <li> The President shall call and preside at all meetings of the Active membership and the Board of Governors; shall appoint all necessary committees and be an ex-officio member of all committees; shall be the public spokesperson for the Club; and shall perform the other duties of an executive officer.</li>
            <li> The Vice President shall be a voting member of the Board, called the Undergraduate Governor, and conduct the correspondence of the Active and Graduate membership; and shall have custody of all documents and of the corporate seal and shall act as President in the absence of the latter.</li>
            <li> The Treasurer shall collect, take charge of and pay out all moneys, except as hereinafter provided; shall keep account of the same, and shall make a full report in writing of the finances at each regular meeting of the Board of Governors.  The Treasurer shall act as President in the absence of the President and Vice President.</li>
            <li>  The Social Chair shall administer and keep account of funds designated for undergraduate social events, and shall schedule and supervise such events.</li>
            <li> The Kitchen Managers shall assist the Club Manager in hiring undergraduate kitchen and dining staff.  The Kitchen Managers shall have direct supervisory responsibility for such staff.</li>
         </ol>
      <li> The current numerical composition of the Board of Governors shall be maintained until 2002.  Commencing in 2002, the corporate trustees of this Club shall be a Board of Governors composed of not more than twenty-three Graduate members and one undergraduate member, of the following classes:</li>
         <ol type="a">
            <li> Fifteen members elected from the Graduate members and divided into three classes of five each, to serve for terms of three years, and to be designated as "Graduate Governors";</li>
            <li> One member elected from the graduating section of the Club each year, to serve for a term of one year, and to be designated as "Graduating Governor";</li>
            <li> Up to seven members elected from the Graduate members who have been graduated not less than twenty-five years and have served as Governors for not less than nine years at the time of their election may be elected life members of the Board, and be designated "Life Governors".</li>
            <li> The Board of Governors shall elect from amongst their number a Chairman, Vice Chairman, Treasurer, and Secretary, to serve for three-year terms.  No such officer of the Board of Governors can hold the same office for more than two consecutive terms.</li>
         </ol>
      <li> The control of the general policy and finances is reserved to the Board, and all important measures which may concern the interests of the Club must be submitted for its approval.  The Board of Governors shall have power to suspend or expel any member from this Club for the non­payment of any indebtedness to the Club or when such action shall appear to a majority of the Board to be in the best interests of the Club and its members.  This Board shall hold regular and special meetings at Princeton or elsewhere at such times and places as the Board may designate, and it may require reports from officers at any time or place.</li>
      <li> A quorum of this Board shall consist of seven (7) members thereof.  In the absence of the Chairman and Vice Chairman at any proceeding, meeting, or in the doing of any act to be done by the Chairman or Vice Chair in said capacity, the senior member of the Board of Governors present, according to seniority by class of graduation, shall act as Chairman pro tem.  The interpretation of the Constitution by the Board of Governors shall be final.</li>
      <li> Except for the Life Governors, any member of the Board of Governors who shall be absent from three successive meetings without satisfactory explanation, shall be deemed to have resigned and the vacancy created may thereupon be filled in accordance with the provisions of this Constitution.</li>
   </ol>

<h3> <center> Article V </center> </h3>

   <ol>
      <li> Election of the President, Vice President, and Social Chair shall be by majority vote on a written ballot at the meeting for this purpose held annually.  Appointment of the Treasurer and selection of the Kitchen Managers shall occur in a timely fashion.  Those elected, appointed, and selected shall hold office for one year, taking office at midnight on the Sunday before the first day of class of Spring Semester. The outgoing officers are required to train the incoming officers.</li>
         <ol type="a">
            <li> The Board of Governors, prior to May 1, in each year, shall elect a Nominating Committee of not less than three members.  Prior to June 15 in each year, the Nominating Committee shall report to the Chairman of the Board of Governors its nominees for the five Graduate Governors who shall be elected each year in place of the five whose terms will expire, its nominees for any vacancies in the Board of Governors that have taken place since the last election, and any nominees for Life Governors.  At the summer meeting each year, the names of such nominees shall be submitted to the Board of Governors for a vote. 

            <p>The candidates receiving a favorable vote of the Board shall thereupon become members of the Board of Governors for the terms for which they have respectively been elected.  Their service shall commence on September 15th of the year in which they were elected.

            <p>The Chairman shall advise the new members of the Board of Governors of said elections and, at the next succeeding meeting of the Board, the names of the Governors so elected shall be noted in the minutes of said meeting.

            <p>The Graduate Governors of the Board of Governors shall be elected for terms of three years, and shall serve until their successors have been elected and qualified.  Any vacancy occurring among the Graduate Governors shall be filled for the unexpired term at the next succeeding election.  Vacancies occurring among the Graduate Governors may be filled until the next succeeding election by the vote of a majority of the remaining members of the Board of Governors.  Any member of the Board may be reelected.</li>
            <li> The Graduating Governor shall be elected by a majority of the active members in the Senior Section not later than May 15 of his or her Senior year.</li>
            <li> Graduate and Graduating Governors shall hold office until September 15th in the year in which their term of office expires and thereafter until their successors are elected and qualified.</li>
         </ol>
      <li> Election of the Board of Governors shall be as follows:</li>
      <li>  Graduate and Graduating Governors shall hold office until September 15th in the year in which their term of office expires and thereafter until their successors are elected and qualified.</li>
   </ol>

<h3> <center> Article VI </center> </h3>

   <ol>
      <li> Regular meetings of the Active members of this Club shall be held in September, November, and February of each year, on dates to be fixed by the President on reasonable notice.  The election of club officers is to take place at the regular meeting in November.  At these meetings the standing committees shall report, and measures to be submitted to the Board of Governors shall be voted upon.</li>
      <li> Joint meetings of the Active and Graduate members shall be held at such times as may be fixed by the Board of Governors.</li>
      <li> Special meetings of Active members shall be held at the discretion of the President or upon the request of three or more Active members, provided that reasonable notice of such meetings be given beforehand.</li>
      <li> A quorum for the transaction of business shall consist of a majority of the Active members.  A majority vote of those present shall be sufficient to adopt any measure, except as otherwise provided by this Constitution.</li>
   </ol>

<h3> <center> Article VII </center> </h3>

   <ol>
      <li> All fees, dues, and terms for active membership shall be determined by the Board of Governors and set forth in an annual Member Contract.  If a member is found to be in violation of the Member Contract, the member shall be suspended from the Club and denied all privileges of the Club, including the right to take meals at the Club.  If any active member ceases to be enrolled as a student in Princeton University at any time prior to his or her graduation, the member shall be eligible for a pro-rata refund.</li>
      <li> Charges for board shall be paid by Active members in such amounts and at such times as may be fixed by the Board of Governors and according to terms set forth in the Member Contract.</li>
      <li>  If any house charges are not paid within the time allotted in the Member Contract, penalties in such amount as may be determined from time to time by the Board of Governors may be added for each week or part of a week until the whole is paid.  Credit may be denied to any member whose account is thus in arrears.  In every case where credit is suspended no further credit shall be extended until the indebtedness already incurred shall have been discharged in full.</li>
      <li>  Assessments may be imposed upon all active members by a three-fourths vote thereof, but such assessments shall not exceed Twenty-Five Dollars ($25.00) per capita in any one year, without the approval of the Board of Governors.</li>
      <li> The President is empowered to suspend for not less than one week and/or fine not more than Twenty-Five Dollars ($25.00) any member guilty of conduct unbecoming a member of The Princeton Charter Club.</li>
   </ol>

<h3> <center> Article VIII </center> </h3>

   <ol>
      <li> All house charges and board shall be collected and deposited by the Treasurer, and shall be paid out by the Treasurer for necessary running expenses.</li>
      <li> Expenditures for repairs, improvements, and other purposes outside of those necessary to the management of the Club shall be determined in the budget adopted by the Board of Governors.</li>
      <li>  Initiation fees shall be collected by the Treasurer, who shall deposit all such fees.</li>
      <li> Undergraduate dues shall be collected and deposited by the Treasurer, and shall be paid out by him or her for insurance, taxes and such other items as may be authorized by the Board of Governors and the officers.</li>
      <li> All income devoted to the repayment of debt and expenditures after the current fiscal year, and all income derived from investments shall be under the exclusive control of the Board of Governors, and, unless otherwise ordered, shall be in the charge of the Graduate Treasurer to be kept by him or her in a bank account or other account approved by the Board, subject to signed checks by him or her, such checks to be drawn subject to such regulations and directions as may from time to time be made by the Board of Governors.</li>
   </ol>

<h3> <center> Article IX </center> </h3>

   <ol>
      <li> This Constitution, the Bylaws, and any future amendments, must be approved by a three-fourths vote of all the Active members and the Board of Governors, provided that all amendments be posted in the Club House at least one week before being voted upon.</li>
   </ol>

{% endblock %}