<!-- history of the Princeton Charter CLub -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h2> History </h2>

<hr>

<p>
Since its founding in 1901, Charter has been a club full of tradition. Located at the end of the street, our current clubhouse was designed by Arthur I. Meigs, Charter section of 1903, and built in 1913. "The Indestructible," as the club is commonly referred to, is today most known for its "Charter Fridays". When most clubs are closed, we are open to help you celebrate the end of a long week of classes. Charter's social calendar features many noteworthy events including monthly semi-formals, live bands, and weekly parties. Our food, including our bi-weekly pub nights, is consistently ranked some of the best on the street.
</p>

<p>
Charter is a club of forward thinkers. We have pioneered a new selection process that allows sophomores to really get a feel for Charter's atmosphere and grants admission preference to those sophomores who have demonstrated the greatest interest in our club by attending recruitment events and meals. We are a club that values fairness, and we view this as the best way to admit new members.
</p>

<p>
Once you are a Charter member, you are a member forever. Every year we see flocks of alumni, clothed in maroon and gold, return to the Indestructible. The friendships in our club span many generations and last a lifetime. Huzzah!
</p>

<h3> Food </h3>
<p>
Charter's clubhouse is equipped with everything you will need if you want to study, play games, or just hang out. We have a library, several study rooms, a TV room with surround sound, and a computer cluster with several printers and a scanner. Charter also features an extensive movie and game collection. Members have access to the clubhouse 24/7.
</p>

{% endblock %}