<!-- history of the Princeton Charter CLub -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1> History </h1>
<div class="header-photo" style="background-image:url('{{STATIC_URL}}img/history.jpg');">
</div>
<br>
<p>Not long after the twentieth century was born, there was another birth in the quiet suburban town which is the home of Princeton University. True, there were no huge and splendid celebrations such as had welcomed the year 1900, but it is very likely that some of that same effusive happiness showed on the faces of the men who walked across the campus in the crisp autumn air of 1901 to take their first meals together as members of the University’s ninth and newest eating club — The Princeton Charter Club.</p>
<p>In 1913, the present Clubhouse was built from plans drawn by Arthur I. Meigs of the 1903 Section. The completion of the present Clubhouse was celebrated in grand style by a magnificent banquet the evening before the Commencement-marking Yale baseball game in June 1914. Governors, members of the Building Committee and "volunteers" all spoke, but the undergraduate speaker received the most enthusiastic response. Preceded by graduates who solemnly discussed their successful solutions to the Club’s financial and building problems, the undergraduate, when called upon, began by saying:</p>
<p><div style="margin-left: 1em; font-size: 20px; color: #800000; font-weight:bold; font-style:italic;">
    “The graduate speakers have been giving the impression that the building of this magnificent Clubhouse was complicated. The fact is that it was really very simple. All we did was worry a lot; then we built a house on it.”
</div></p>
<p>In 1949, Manager Jim Pace awoke early one morning to find a fire raging in the living room. Before it could be controlled, it spread to the library and the second floor bedroom, and had caused $16,000 worth of damage. Undaunted, the Club maintained its operations, and repairs were completed in time to be celebrated at the 1950 Houseparties. The fire marshal sent to the scene of the fire noticed how seemingly unaffected the club’s façade was, commenting 
    <p><div style="margin-left: 1em; font-size: 20px; color: #800000; font-weight:bold; font-style:italic;">
    “I have never seen a building survive a fire like this. Nothing is indestructible, but this place is damn near.”
</div></p>
As such, Club members have since then often referred to Charter fondly as <b style="color:#998100">“The Indestructible.”</b> The origin of the fire was never determined, but the aftermath made one thing plain: The club could survive, and continue normal operation in the face of large-scale adversity.</p>
<p>When the University decided to admit female undergraduates as freshmen in the fall of 1969, Charter was among the first clubs to announce in December of 1970 that it too would become coeducational. In April of 1977, Charter became the fifth non-selective club.</p>
<p>The Princeton Charter Club is a place to relax and be among friends; it is clean and comfortable; it provides good food and a pleasant social atmosphere. But more than this, the years have seen Charter given real vitality, dignity and tradition by its members. For this reason, Charter members still smile with a certain modest pride, and the club maintains an air of effusive happiness today. The times have changed, and over the years the club has changed but nevertheless, the personality which has built and maintained Charter for nearly a century remains today, fresh and active.</p>
<p><i>Adapted from excerpts of the 1968 History of the Princeton Charter Club compiled by Donald P. Knight '68.</i></p>
<p>Some famous alumni of the Princeton Charter Club:<ul>
    <li><b style="color:#800000">James Stewart ’32:</b> prolific actor appearing in over 92 films, TV programs, and shorts including The Spirit of St. Louis, Vertigo, and It’s a Wonderful Life; World War II and Vietnam War veteran</li>
    <li><b style="color:#800000">Charles Fried ’56:</b> former U.S. Solicitor General</li>
    <li><b style="color:#800000">Joel Rosenman ’63:</b> co-creator of the Woodstock Festival</li>
    <li><b style="color:#800000">Mitch Daniels ’71:</b> former Governor of Indiana; current President of Purdue University</li>
    <li><b style="color:#800000">Joel Achenbach ’82:</b> staff writer for The Washington Post</li>
    <li><b style="color:#800000">David Duchovny ’82:</b> actor, best known for roles on television as FBI Agent Fox Mulder on The X-Files and writer Hank Moody on Californication</li></ul>


</div>
{% endblock %}