{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<h2> Charter's Sign-in System </h2>
<hr>

<section class='information-block'>
    <h4> In Brief </h4>
    

    <p> Charter's unique sign-in system allows sophomores to attend meals and events in order to learn about Charter and demonstrate an interest in the club. Sophomores gain a point each time they attend a meal or event, and come sign-ins time, admission preference is given to those sophomores who have accumulated the most points. This allows us to eliminate the randomness associated with eating club admissions. <p>

    <h4> How does Charter's points system work? </h4> 

    <p> For years, when Charter had more interested sophomores than spots available, we would randomly admit sophomores until we were full. However, this system utilized pure randomness, and we sought to get rid of the random component of eating club admissions. </p>

    <p> To solve this problem in an objective manner, Charter introduced the 'points system', in which sophomores would get 'points' based on attendance at sophomore events and meals. Sophomores receive one point for every meal/event attended. Of the sophomores that sign in, Charter will offer admission to those sophomores with the most points until we reach capacity. </p>


    <h4> How to Attend Meals and Events </h4>

    <p> Charter meals will start November 4th and sophomores can attend two per month, November through January, excluding Thursday dinner. Lunch hours are from 11:30 AM - 1:30 PM, and dinner hours are from 5:30 PM - 7:30 PM. To get yourself on the list, just sign up here. You must check in with the meal checker to receive credit for the meal. Charter will be hosting different events throughout the course of the semester geared towards sophomores. To stay up to date on all of Charter's events, simply add yourself to our email list here. All points-eligible events will be announced through this email list. Feel free to contact roryf@princeton.edu with any questions you may have. </p>

    <div class='div-image' style='background-image: url({{STATIC_URL}}img/bear.png); height:300px; margin:30px;'> </div>
</section>


<section class='information-block'>
    <h3> What's new this year? </h3>
    <hr>

    <h4> Early Admission </h4>

    <p> Along with all of the other open clubs, Charter will offer sophomores the opportunity to join Charter before bicker begins. Simply login here to sign up for early admission to Charter. We will host events every night during bicker week to welcome our new members and get them integrated into the Charter community. All interested sophomores are invited to attend these events. </p>

    <h4> Groups </h4>

    <p> Sophomores now have the opportunity to join Charter as a part of a group! This means that sophomores can be guaranteed to get into Charter with their friends. In order to determine the number of points each group has, we will average the points of each group member and admission preference will be given to those individuals or groups with the most points. You can still join Charter as an individual if you do not wish to join a group. Joining a group confers no advantage or disadvantage in the point system, but simply allows you to make sure you are able to join with your friends. To form a group simply email roryf@princeton.edu with the names of the people in your group. There is no limit to the number of people you can have in your group. </p>

    <h4> Why the points system?</h4>

    <p> This system is designed to eliminate the element of randomness in eating club admissions. Our point system allows sophomores to demonstrate an interest in Charter by attending events and meals, and then grants admission preference to those sophomores who have earned the most points. </p>
    <div class='div-image' style='background-image: url({{STATIC_URL}}img/charter-event-people.jpg); height:300px; margin:30px;'> </div>
</section>

<section class='information-block'>
    <h3> Frequently Asked Questions </h3>
    <hr>

    <h5> Q: How does the system keep track of attendance? </h5> 
    <p> A: For each meal or event you attend, you earn a point. You receive one point for every meal/event unless otherwise specified (except for the events held during club week, which will be worth two points each). Of the sophomores that sign in, we will accept sophomores from the highest to the lowest score with ties broken randomly. </p>

    <h5> Q: How will I know when an event is happening? </h5>

    <p> A: The easiest way is by adding yourself to our mailing list by clicking here. All events that are points eligible will be announced through the mailing list. Even if you aren't on our mailing list, we will have a calendar of upcoming sophomores events posted on the website soon. All sophomores are welcome to attend our events. </p>

    <h5> Q: Say I've already eaten two meals in a month, but current member uses a guest meal for me so I can eat at Charter. Does that count? </h5>

    <p> A: No. Although you're more than welcome to eat with a member using a guest meal, only the two free sophomores meals per month count in the points system. </p>

    <h5> Q: How many points do I have? </h5>

    <p> A: Email roryf@princeton.edu, and we'll get back to you as soon as possible! </p>

    <h5> Q: Is there any advantage or disadvantage to joining as a group? </h5>

    <p> A: No. The points of each group member will be averaged and then ranked along with the point totals of those people who choose to join individually. We have groups in order to give sophomores the guarantee that they will be admitted along with their friends. </p>
</section>
{% endblock %}

