
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h2> Benefits and Privileges </h2>

    <hr>
    <p> All in all, membership in Charter means being a part of one of the most vibrant social communities on campus. We bring a big emphasis on the two things that 
    college students love: food and social events. <p>


    <p> Meals: </p>

    <ul>
        <li> Four dinners a week with waiter-service. </li>
        <li> Two pub-night dinners a week. </li>
        <li> Freshly made-to-order "restaurant-style" breakfasts. </li>
        <li> 7 guest meals per semester. </li>
    </ul>

    <p> Events: </p>
    <ul>
        <li> Featuring amazing food at Houseparties, bands at Lawnparties, and more! </li>
        <li> Semiformal events featuring comedians, magicians, and even hypnotists </li>
        <li> Special access to members drinks during Charter Fridays, and the ability to +1 Friends. </li>
    </ul>

    <p> Full house privileges:</p>
    <ul> 
        <li> Grand dining room with brand-new custom-made leather chairs. </li>
        <li> Our TV Room, with giant flat-screen TV, surround sound, stadium seating.  </li>
        <li> The newly-renovated Upstairs Dining Room (UDR), complete with another giant flat-screen, arcade machines, new tables and leather chairs. </li>
        <li> A large computer cluster with fast gaming PCs and  </li>
        <li> The Fergusen-Jacobs Card Room, with its resurfaced leather-bound center table and several smaller bridge side-tables. </li>
        <li> Expansive grounds, including a sand volleyball court and basketball hoop. </li>
        
    </ul>
    
    <div class='div-image' style='background-image: url({{STATIC_URL}}img/houseparties_people.jpg); height: 380px; margin:30px;'></div>

    <p>Full access to a fun and exciting social calendar and events schedule. Charter regularly hosts headliner musical and comedy acts. Our lavish formal events are the envy of the Street, and have been since the famed Firehouse Section Party of 1930. We hold semiannual lawnsports tournaments, and plan trips to exciting local and more distant venues. Charter fields a full range of intramural sports teams, who compete and thrive at the highest levels of intramural competition. </p>



{% endblock %}