<!-- Home page -->

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
     <div id="outer-background-container" data-default-background-img="{{STATIC_URL}}img/oldcharter.jpg" style="background-image:url({{STATIC_URL}}img/front.jpg); background-attachment: fixed;"></div>

          <div class="background-image-overlay">
   
</div>

<div id="background-image">
           <table style="height:100%; width:100%;">
    <tr style="height:100%;">
        <td style="height:100%; vertical-align:center;">
              <img src="{{STATIC_URL}}img/chartername.png" style="border:0;opacity:1;z-index:1;" align="middle" width="60%" >
        </td>
    </tr>
               
    </table>
</div>

  {% endblock %}
