{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<div class='container'>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
         {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <h1>Cart</h1>

    {% load carton_tags %}
    {% get_cart as cart %}

    <div class="flex-row">
        <div class="flex-col">
            <form action="/cart">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Clear Cart" 
                name="clear" />
            </form>
        </div>
        <div class="flex-col"></div>
        <div class="flex-col"></div>
        <div class="flex-col"></div>
        <div class="flex-col"></div>
        <div class="flex-col"></div>
        <div class="flex-col">
            <form action="/gear">
                <input class="btn btn-primary" type="submit" value="Continue Shopping" />
            </form>
        </div>
    </div>

    <table class="table table-hover ">
      <thead>
        <tr>
    	    <th>Product</th>
    	    <th>Size</th>
    	    <th>Quantity</th>
    	    <th>Total Price</th>
            <th>Change Quantity</th>
        </tr>
      </thead>
      <tbody>
      	<tr></tr>
        {% for item in cart.items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.sizes }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal}}</td>
                <td>
                    <div class="flex-row">
                    <form action="/cart">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="+"
                        name="add{{item.product.name}}{{item.product.sizes}}" />
                    </form>
                    <form action="/cart">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="-"
                        name="sub{{item.product.name}}{{item.product.sizes}}" />
                    </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
            <tr></tr><tr>
            <td>Total Price:</td>
            <td></td>
            <td></td>
            <td>{{cart.total}}*</td>
            <td></td>
            </tr>
      </tbody>

    </table>
    *plus shipping (you will recieve an additional invoice prior to your order being sent)
    <br>
    <br>
    <form action="/checkout" method="POST">
    {% csrf_token %}
    <table class="table table-hover ">
    {% for field in form %}
                        <tr><td>
                            {{field.label_tag}} </td><td> {{ field }}
                        </td></tr>
                    {% endfor %}
    </table>
    <div class="flex-row">
        <input class="btn btn-primary" type="submit" value="Pay Now" name="checkout" />
    </div>
</div>
       
    {% endblock %}