{% extends "base.html" %}
{% load staticfiles %}

<!-- Allows officers to view the mailing list -->
{% block css %}
{{ block.super }}

<style>
@media print
{   
    .btn{
        display:none;
    }
}
</style>
{% endblock  %}


{% block content %}

<h2> Prospective Meal List</h2>
<p> {{ time.date|date:"l, F j"}} </p>
<a href="{% url 'prospective_meal_list' %}/{{ prev_day.isoformat}}" class="btn btn-info" role="button"> Prev Day </a>
<a href="{% url 'prospective_meal_list' %}/{{ next_day.isoformat}}" class="btn btn-info" role="button"> Next Day </a>
<hr>

{% for meal_name, meal_entries in entries.items %}
    <h3>  {{ meal_name }} </h3>
    <div class="table-responsive">
        <table class="table">

            {% if not meal_entries %}
                There are no students signed up for {{meal_name}}.
            {% else %}
                <tr> 
                    <td> Name </td>
                    <td> Signature </td>
                </tr> 
                {% for e in meal_entries %}
                    <tr> 
                        <td> {{ e.prospective}} </td>
                        <td> </td>
                    <tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endfor %}

<div

{% endblock %}

