{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<style>
.seating-section{
  margin-bottom: 30px;
  font-size: 10px;
}

@media print {
    .seating-section{
      font-size: 8px;
    }

    .hide-on-print{
        display:none;
    }
}
@media-print
</style>
{% endblock %}
{% block content %}

<div class='col-sm-12'>
<h3> Overview for {{ event }} </h3>
<hr>

<div class="col-sm-12">
    <h3> Information: </h3>
    <br>

    {% if event.event_room.all %}
        {% for room in event.event_room.all %}
        <div class="seating-section">
            <h4> {{ room }}  </h4>
            <div class="table-responsive">
                <table class="table .table-condensed">
                    <tr> 
                        <td><strong> Member </strong> </td>
                        <td><strong> Guest </strong></td>
                        {% for question in event.question_set.all %}
                            {% if question.display_on_overview %}
                                <td> <strong> {{ question.question_text }} </strong> </td>
                            {% else %}
                                <td class="hide-on-print"> <strong> {{ question.question_text }} </strong> </td>
                            {% endif %}
                        {% endfor %} 
                    </tr>

                    {% for entry in room.entry_room_association.all %}
                    <tr> 
                        <td> {{ entry.student }}</td>
                        <td> {{ entry.guest|title}} </td>
                        {% for answer in entry.answers.all %}
                            {% if answer.question.display_on_overview %}
                                <td>  {{ answer.answer_text }} </td>
                            {% else %}
                                <td class="hide-on-print">  {{ answer.answer_text }} </td>
                            {% endif %}
                        {% endfor %}
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div> <!-- seating-section -->
        {% endfor %}
    </div>
    {% else %}
    <p> Oops. Looks like rooms haven't been created for this event yet. Go to the admin page, and then create them </p>
    {% endif %}


</div>
{% endblock %}