{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
{% load my_filters %}
    <div class="container">
    <h1> RSVP for {{ event.title }} </h1>
    <p> Time: {{ event.time|time:"g:iA"}} 
     {% if event.guest_limit > 0 and member %}
        | Guest limit: {{rsvp_guests|length}}/{{ event.guest_limit}}
    {% endif %}
    </p>
    {% if event.image %}
    <div class='event-image' style="background-image: url({{event.image.url}});"> </div>
    {% endif %}
    <p> {{ event.snippet }}</p>
    
    
    <h5> RSVP's that you are involved in: </h5>
    {% if rsvp_entries %}
        {% for entry in rsvp_entries %}
        <ol>

            <li style="margin:5px"> 
                    <p> {{ entry }} </p>
                    <ul> 
                        {% for answer in entry.answers.all %}
                        <li>
                            <p> <strong> {{ answer.question.question_text  }} </strong> </p>
                            <p> {{ answer.answer_text }} </p>
                        </li>
                        {% endfor %}
                    </ul>
                    <p>  [<a href="/{{ entry.get_room_change_url }}">change rooms</a>]   [<a href="/{{ entry.get_deletion_url }}">delete</a>] [<a href="/{{ entry.get_change_answers_url }}">change answers</a>] [<a href="/{{ entry.get_guest_change_url }}">add/remove guest</a>]  </p>
            </li>
        </ol>


        {% endfor %}
    {% else %}
        <p> You have not signed up for this event yet! </p>
    {% endif %}
    
    <hr>
    
    <container>
    <div class="row">
        <div class="col-sm-6">
            <h3> Event Form </h3>
            <br>
            {% crispy form %}
        </div>

        <div class="col-sm-6">
            <h3> See where people are sitting: </h3>
            <br>
            {% for room in event.event_room.all %}
            <div class="seating-section">
                <h4> {{ room }}  </h4>

                <table class="table">
                    <tr> 
                        <td><strong> Member </strong> </td>
                        <td><strong> Guest </strong></td>
                    </tr>

                    {% for entry in room.entry_room_association.all %}
                    <tr> 
                        <td> {{ entry.student }}</td>
                        <td> {{ entry.guest|title}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div> <!-- seating-section -->
            {% endfor %}
        </div>
    </div>
    </container>

    </div>
{% endblock %}