{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
   <h2> Charter Events </h2>
   <hr>
   <p> We pride ourselves with not only providing our membership with great food, but also entertaining them with the best and most exciting events. Every year, we set a large portion of our budget for reserved events for members and guests!  </p>
  
  {% if not student %}
    <p> To sign-up for an event, please: <br> <a href="{% url 'login' %}" class="btn btn-info" role="button"> login </a></p>
  {% endif %}

   <p> Have an event idea? Tell us via <a href="{% url 'feedback' %}"> anonymous feedback </a> or tell one of <a href="{% url 'officer_list' %}"> officers </a>. </p>
  
   

  <hr>
   

   <div class="col-sm-8  col-centered event-listing">
      <h3> Upcoming Events: </h3>
      
      
      {% if future_events %}
        <ul>
         {% for event, has_person, rsvp_guests in future_events %}
            {% if member or officer or event.display_to_non_members %}
               <li> 
                  <h4> {{event.date}} | {{ event.title }} </h4>
                  <p> Time: {{ event.time|time:"g:iA"}} 
                      {% if event.guest_limit > 0 and student %}
                        | Guest limit: {% if member %} {{rsvp_guests|length}}/{% endif %}{{ event.guest_limit}}
                      {% endif %}

                   </p>

                  {% if event.image %}
                    <div class='event-image' style="background-image: url({{event.image.url}});"> 
                    </div>
                  {% endif %}
                  <p> {{ event.snippet }} </p>
                  
                  {% if student %}
                    {% if event.require_rsvp %}
                      {% if not has_person %}
                        <a href="/{{ event.get_signup_url }}" class="btn btn-info" role="button"> RSVP </a>
                      {% else %}
                        <a href="/{{ event.get_signup_url }}" class="btn btn-info" role="button"> Change RSVP </a>
                      {% endif %}

                      {% if officer %}
                        <a href="/{{ event.get_officer_overview_url }}" class="btn btn-info" role="button"> Officer Overview </a>
                      {% endif %}
                    {% else %}
                      <p> [This event does not require an RSVP] </p>
                    {% endif %}

                  {% endif %}
               </li>
             {% endif %}
         {% endfor %}


        </ul>
      {% else %}
        <p> Looks like there hasn't been any events scheduled yet </p>
        <p> Check with us in the future </p>

      {% endif %}

   </div>

<p></p>

{% endblock %}