{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
   <h2> Charter Events </h2>
   <hr>
   <p> We pride ourselves with not only providing our membership with great food, but also entertaining them with the best and most exciting events. Every year, we set a large portion of our budget for reserved events for members and guests!  </p>
  
  {% if not student %}
    <p> To sign-up for an event, please: <br> <a href="{% url 'login' %}" class="btn btn-info" role="button"> login </a></p>
  {% endif %}

   <p> Have an event idea? Tell us via <a href="{% url 'feedback' %}"> anonymous feedback </a> or tell one of <a href="{% url 'officer_list' %}"> officers </a>. </p>
  
   

  <hr>
   

   <div class="col-sm-8  col-centered event-listing">
      <h3> Upcoming Events: </h3>
      
      
      {% if future_events %}
        <ul>
         {% for event, has_person in future_events %}
             <li> 
                <h4> {{event.date}} | {{ event.title }} </h4>
                <p> Time: {{ event.time|time:"g:iA"}} 
                    {% if event.guest_limit > 0 and member %}
                      | Guest limit: {{ event.guest_limit}}
                    {% endif %}

                 </p>

                {% if event.image %}
                  <div class='event-image' style="background-image: url({{event.image.url}});"> 
                  </div>
                {% endif %}
                <p> {{ event.snippet }} </p>
                
                {% if member or officer or prospective %}
                  {% if not has_person %}
                    <a href="/{{ event.get_signup_url }}" class="btn btn-info" role="button"> RSVP </a>
                  {% else %}
                    <a href="/{{ event.get_signup_url }}" class="btn btn-info" role="button"> Change RSVP </a>
                  {% endif %}
                {% endif %}
             </li>
         {% endfor %}


        </ul>
      {% else %}
      <p> Looks like there hasn't been any events schedule yet </p>
      <p> Check with us in the future </p>

      {% endif %}



      <!-- <div class="col-xs-12">
      {% for event, has_rsvp, rsvp_msg in events_info %}
          <div class="col-xs-12 col-centered event-entry">
              <h3> {{ event }}</h3>
              <p> {{ event.snippet }} </p>
              
              <p class='rsvp-text'> {{ rsvp_msg }} </p>
              
              {% if has_rsvp %}
              <a class="btn btn-default minimal-button" href="{{event.get_signup_url }}">
                   <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Resubmit RSVP
              </a>
              {% else %}
              <a class="btn btn-default minimal-button" href="{{event.get_signup_url }}">
                   <span class="glyphicon glyphicon glyphicon-star" aria-hidden="true"></span>
                    RSVP here
              </a>
              {% endif %}


               <a class="btn btn-default minimal-button" href="{{event.get_view_url }}">
                   <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    View Seatings
              </a>

              {% if has_rsvp %}
              <a class="btn btn-default minimal-button" href="{{ event.get_unrsvp_url }}">
                   <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                    UN-RSVP here
              </a>
              {% endif %}
          </div>
      {% endfor %}
      </div> -->
   </div>

<p></p>

{% endblock %}