<!-- Form for anonymous feedback -->

{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
<h1> Anonymous Feedback </h1>

<br>

<p> Tell us what you like, what you don't like, and anything in between! This feedback will go straight towards the current officer corps.  </p>

<p> To view any responses to anonymous feedback, please go here: <a href="{% url 'feedback.views.responses' %}">feedback responses</a>. </p>

<br>

<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
   {% crispy form %}
        </div>
</div>

</div>

{% endblock %}